@import "variables";

.hero-banner {
  padding: 80px 0;
  background-repeat: repeat;
  text-align: center;
  .categories {
    .category {
      &.selected {
        background: $secondary;
      }
      -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
      box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
      background: $primary;
      padding: 15px 0;
      margin-top: 15px;
      color: $white;
      cursor: pointer;
      border-radius: 4px;
      .category-name {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 700;
      }
      &:not(.selected):hover {
        opacity: 0.9;
      }
    }
  }
}

.app-grid {
  .category-header {
    text-align: center;

    display: inline-block;
    background: $primary;
    padding: 15px 20px;
    margin: 15px 15px;
    color: $white;
    border-radius: 4px;
    text-transform: uppercase;
  }

  .app-card {
    background: $grey;
    min-height: 250px;
    margin-bottom: 15px;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    .card-footer{
      position: absolute;
      bottom: 0;
      background: $light-grey;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }

  }
  .carousel-indicators {
    display: none;
  }
  .carousel-control {
    &.left,&.right {
      background: none;
    }
    &.right {
      right: -100px;
    }
    &.left {
      left: -100px;
    }
  }

}
