<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let cat of categories">
            <button class="btn btn-default" (click)="onSelectCategory(cat)">
                {{ cat.catname }}
            </button>

        </div>
    </div>
    <br/>
    <br/><br/><br/>

    <div *ngFor = "let cat of categoriesForApps">

        <div>
            <span><h3>{{ cat.catname }}</h3></span>
        </div>
        <div *ngFor = "let app of apps">
            <div *ngIf = "app.CategoryName === cat.catname">

                <span> {{ app.AppName }}</span>

            </div>
        </div>

    </div>
</div>
